# Numpy Case Study

In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

## 1. Load and visualize the dataset

In [ ]:
df = np.loadtxt('fit.txt',dtype=str)

# Visualize the dataset
d = pd.DataFrame(df, columns=['date','step_count','mood','calories_burned','hours_of_sleep','active'])
d

          date step_count     mood calories_burned hours_of_sleep    active
0   06-10-2017       5464  Neutral             181              5  Inactive
1   07-10-2017       6041      Sad             197              8  Inactive
2   08-10-2017         25      Sad               0              5  Inactive
3   09-10-2017       5461      Sad             174              4  Inactive
4   10-10-2017       6915  Neutral             223              5    Active
..         ...        ...      ...             ...            ...       ...
91  05-01-2018        133      Sad               4              2  Inactive
92  06-01-2018        153    Happy               0              8  Inactive
93  07-01-2018        500  Neutral               0              5    Active
94  08-01-2018       2127  Neutral               0              5  Inactive
95  09-01-2018       2203    Happy               0              5    Active

[96 rows x 6 columns]

In [4]:
calories_burned	= np.array(df[:,3].astype(int))
hours_of_sleep	= np.array(df[:,4].astype(int))
step_count = np.array(df[:,1].astype(int))
active = np.array(df[:,5])
date = np.array(df[:,0])
mood = np.array(df[:,2])

## 2. What is the average step count across the dasaset?

In [5]:
ave_step_count = step_count.mean()
print('Average step count across the dataset: ',ave_step_count)

Average step count across the dataset:  2935.9375

## 3. On which date did the person burn the most calories, and what was their mood on that day?

In [6]:
max_calories = np.max(calories_burned)
max_cal_indx = np.argmax(calories_burned)
mood_ = mood[max_cal_indx]
date_ = date[max_cal_indx]
print(f'On "{date_}" the person burnt "{max_calories}" most calories and their mood was "{mood_}"')

On "14-12-2017" the person burnt "243" most calories and their mood was "Happy"

## 4. How many days does the dataset show the person being "Active" vs. "Inactive"?

In [7]:
active_day = active[active == 'Active'].size
print('No. of days the person being "Active" : ',active_day)
inactive_day = active[active == 'Inactive'].size
print('No. of days the person being "Inactive" : ',inactive_day)

No. of days the person being "Active" :  42
No. of days the person being "Inactive" :  54

## 5. Which mood is associated with the highest average calories burned?

In [8]:
# Created an array of mood and calories_burned
mood_cal = np.array(df[:,2:4]) 

# Created an array as per different mood
sad_ = mood_cal[mood_cal[:,0] == 'Sad']
happy_ = mood_cal[mood_cal[:,0] == 'Happy']
neutral_ = mood_cal[mood_cal[:,0] == 'Neutral']

# Find average calories_burned of each mood
sad_ave = sad_[:,1].astype(int).mean()
happy_ave = happy_[:,1].astype(int).mean()
neutral_ave = neutral_[:,1].astype(int).mean()

# Created an array (mood , average calories_burned)
mood_ave_cal = np.array(['Sad', sad_ave, 'Happy', happy_ave, 'Neutral', neutral_ave]).reshape(3,2)

# Find max average calories_burned
max_ave = mood_ave_cal[:,-1].astype(float).max()

# Find index of max average calories_burned
ind = np.argmax(mood_ave_cal[:,-1].astype(float))

# Find mood of max average calories_burned
mood_ind = mood_ave_cal[ind,0]

# Print the mood which is associated with the highest average calories burned
print(f'"{mood_ind}" mood is associated with "{max_ave}" highest average calories burned')

"Happy" mood is associated with "108.55" highest average calories burned